In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
year_2021 = pd.read_json("Indiegogo_2021-09-17T20_40_51_080Z.json",lines=True)
year_2020 = pd.read_json("Indiegogo_2020-11-13T10_41_00_593Z.json",lines=True)
year_2019 = pd.read_json("Indiegogo_2019-11-15T10_40_02_728Z.json",lines=True)
year_2018 = pd.read_json("Indiegogo_2018-11-16T10_40_36_940Z.json",lines=True)
year_2017 = pd.read_json("Indiegogo_2017-11-15T10_40_47_201Z.json",lines=True)

In [3]:
keywords = np.array(['Education', 'Energy & Green Tech', 'Health & Fitness', 'Fashion & Wearables', 'Wellness'])

In [4]:
category_21 = []
for i in range(0, len(year_2021["data"])):
    category_21.append(year_2021["data"][i]["category"])

z = {}
z = Counter(category_21)
list_key_21 = {}
for i in keywords:
    list_key_21[i] = z[i]

In [5]:
category_20 = []
for i in range(0, len(year_2020["data"])):
    category_20.append(year_2020["data"][i]["category"])

z = {}
z = Counter(category_20)
list_key_20 = {}
for i in keywords:
    list_key_20[i] = z[i]

In [6]:
category_19 = []
for i in range(0, len(year_2019["data"])):
    category_19.append(year_2019["data"][i]["category"])

z = {}
z = Counter(category_19)
list_key_19 = {}
for i in keywords:
    list_key_19[i] = z[i]

In [7]:
category_18 = []
for i in range(0, len(year_2018["data"])):
    category_18.append(year_2018["data"][i]["category"])
    
z = {}
z = Counter(category_18)
list_key_18 = {}
for i in keywords:
    list_key_18[i] = z[i]

In [8]:
category_17 = []
for i in range(0, len(year_2017["data"])):
    category_17.append(year_2017["data"][i]["category_name"])
    
z = {}
z = Counter(category_17)
list_key_17 = {}
for i in keywords:
    list_key_17[i] = z[i]

In [9]:
df = pd.DataFrame()
df["Category"] = (list(list_key_17.keys()), list(list_key_18.keys()), list(list_key_19.keys()), 
                  list(list_key_20.keys()), list(list_key_21.keys()))

df["Month"] = (list(["Nov"]) * 5, list(["Nov"]) * 5, list(["Nov"]) * 5, list(["Nov"]) * 5, list(["Sept"]) * 5)

df["Year"] = (list(["2017"]) * 5, list(["2018"]) * 5, list(["2019"]) * 5, list(["2020"]) * 5, list(["2021"]) * 5)

df["Count"] = (list(list_key_17.values()), list(list_key_18.values()), list(list_key_19.values()), 
                  list(list_key_20.values()), list(list_key_21.values()))

In [10]:
df = df.explode(["Category", "Count", "Year", "Month"])
df.to_csv('dataset.csv', index = True)

In [11]:
df

              Category Month  Year  Count
0            Education   Nov  2017  20017
0  Energy & Green Tech   Nov  2017    769
0     Health & Fitness   Nov  2017  12195
0  Fashion & Wearables   Nov  2017  10059
0             Wellness   Nov  2017    945
1            Education   Nov  2018      0
1  Energy & Green Tech   Nov  2018    423
1     Health & Fitness   Nov  2018    883
1  Fashion & Wearables   Nov  2018    870
1             Wellness   Nov  2018    570
2            Education   Nov  2019      0
2  Energy & Green Tech   Nov  2019   1494
2     Health & Fitness   Nov  2019   2520
2  Fashion & Wearables   Nov  2019   2520
2             Wellness   Nov  2019   1950
3            Education   Nov  2020   2520
3  Energy & Green Tech   Nov  2020   1740
3     Health & Fitness   Nov  2020   2520
3  Fashion & Wearables   Nov  2020   2520
3             Wellness   Nov  2020   2211
4            Education  Sept  2021   2520
4  Energy & Green Tech  Sept  2021   2067
4     Health & Fitness  Sept  2021   2520
4  Fashion & Wearables  Sept  2021   2520
4             Wellness  Sept  2021   2469