## 1. From the Indiegogo (https://webrobots.io/indiegogo-dataset/) dataset you need to download at least 5 JSON (or CSV) files. Use the content of “tagline” or “title” from downloaded files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
year_2021 = pd.read_json("Indiegogo_2021-09-17T20_40_51_080Z.json",lines=True)
year_2020 = pd.read_json("Indiegogo_2020-11-13T10_41_00_593Z.json",lines=True)
year_2019 = pd.read_json("Indiegogo_2019-11-15T10_40_02_728Z.json",lines=True)
year_2018 = pd.read_json("Indiegogo_2018-11-16T10_40_36_940Z.json",lines=True)
year_2017 = pd.read_json("Indiegogo_2017-11-15T10_40_47_201Z.json",lines=True)

In [3]:
year_2021["data"][0]["tagline"]

'Scroll Down - Contribute to Research! Mold in Mattress? Outdoor Stachybotrys? DNA (ERMI) Inhibition?'

In [4]:
year_2021["data"][0]["title"]

'Mold Research Continues'

In [5]:
title = []
tagline = []
for i in range(0, 1000):
    title.append(year_2021["data"][i]["title"])
    tagline.append(year_2021["data"][i]["tagline"])
    
    title.append(year_2020["data"][i]["title"])
    tagline.append(year_2020["data"][i]["tagline"])
    
    title.append(year_2019["data"][i]["title"])
    tagline.append(year_2019["data"][i]["tagline"])
    
    title.append(year_2018["data"][i]["title"])
    tagline.append(year_2018["data"][i]["tagline"])
    
    title.append(year_2017["data"][i]["title"])
    tagline.append(year_2017["data"][i]["tagline"])

In [6]:
df = pd.DataFrame(list(zip(title, tagline)),columns =['titles', 'taglines'])
df

,titles,taglines
0,Mold Research Continues,Scroll Down - Contribute to Research! Mold in ...
1,The Scoutmother,Female-driven mob boss movie parody in the sty...
2,Geography Club - The Television Series,A television drama series based on the 2013 fe...
3,Abba.. Zappa Seventies Rock Photography: The App,"We have the book, now we need your help to pro..."
4,Liquid Death Spring Water,Murder your thirst.
...,...,...
4995,The Cleveland Candle Company,Help us bring a fresh new experience to Clevel...
4996,Gogo-S: Wireless & Waterproof Sports Earbuds,"Truewireless earbuds with music play, dynamic ..."
4997,Camp WannaTippaTrashCan Book Series,A middle-readers series about the marauding mi...
4998,SACRED,connecting people with God through music
4999,Night light-Most interest magnetic levitation ...,Redefining noctilucent lights and enjoying the...

In [19]:
import string
from nltk.corpus import stopwords
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [21]:
df["title_clean"] = df['titles'].apply(text_process)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
# Might take awhile...
bow_transformer = CountVectorizer(analyzer=text_process).fit(df["title_clean"])

# Print total number of vocab words
print(len(bow_transformer.vocabulary_))

4589

In [25]:
message = df["title_clean"]
print(message)

['Abba', 'Zappa', 'Seventies', 'Rock', 'Photography', 'App']

In [33]:
bow = bow_transformer.transform(df["title_clean"])
print(bow)
print(bow.shape)

  (0, 2624)	1
  (1, 3459)	1
  (2, 1513)	1
  (3, 105)	1
  (4, 2347)	1
  (5, 570)	1
  (6, 1321)	1
  (7, 275)	1
  (8, 1019)	1
  (9, 2981)	1
  (10, 3731)	1
  (11, 1424)	1
  (12, 4282)	1
  (13, 674)	1
  (14, 77)	1
  (15, 1002)	1
  (16, 1381)	1
  (17, 3454)	1
  (18, 3848)	1
  (19, 280)	1
  (20, 1506)	1
  (21, 3193)	1
  (22, 2732)	1
  (23, 921)	1
  (24, 3998)	1
  :	:
  (4975, 1392)	1
  (4976, 4151)	1
  (4977, 764)	1
  (4978, 3711)	1
  (4979, 61)	1
  (4980, 72)	1
  (4981, 3578)	1
  (4982, 1902)	1
  (4983, 2163)	1
  (4984, 2459)	1
  (4985, 3918)	1
  (4986, 4477)	1
  (4987, 760)	1
  (4988, 1082)	1
  (4989, 2069)	1
  (4990, 4014)	1
  (4991, 426)	1
  (4992, 2858)	1
  (4993, 1618)	1
  (4994, 2908)	1
  (4995, 782)	1
  (4996, 1565)	1
  (4997, 646)	1
  (4998, 3328)	1
  (4999, 2784)	1
(5000, 4589)

In [34]:
from sklearn.feature_extraction.text import TfidfTransformer

messages_bow = bow_transformer.transform(df["title_clean"])
tfidf_transformer = TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.transform(bow)
print(tfidf4)

  (0, 2624)	1.0
  (1, 3459)	1.0
  (2, 1513)	1.0
  (3, 105)	1.0
  (4, 2347)	1.0
  (5, 570)	1.0
  (6, 1321)	1.0
  (7, 275)	1.0
  (8, 1019)	1.0
  (9, 2981)	1.0
  (10, 3731)	1.0
  (11, 1424)	1.0
  (12, 4282)	1.0
  (13, 674)	1.0
  (14, 77)	1.0
  (15, 1002)	1.0
  (16, 1381)	1.0
  (17, 3454)	1.0
  (18, 3848)	1.0
  (19, 280)	1.0
  (20, 1506)	1.0
  (21, 3193)	1.0
  (22, 2732)	1.0
  (23, 921)	1.0
  (24, 3998)	1.0
  :	:
  (4975, 1392)	1.0
  (4976, 4151)	1.0
  (4977, 764)	1.0
  (4978, 3711)	1.0
  (4979, 61)	1.0
  (4980, 72)	1.0
  (4981, 3578)	1.0
  (4982, 1902)	1.0
  (4983, 2163)	1.0
  (4984, 2459)	1.0
  (4985, 3918)	1.0
  (4986, 4477)	1.0
  (4987, 760)	1.0
  (4988, 1082)	1.0
  (4989, 2069)	1.0
  (4990, 4014)	1.0
  (4991, 426)	1.0
  (4992, 2858)	1.0
  (4993, 1618)	1.0
  (4994, 2908)	1.0
  (4995, 782)	1.0
  (4996, 1565)	1.0
  (4997, 646)	1.0
  (4998, 3328)	1.0
  (4999, 2784)	1.0

TfidfTransformer()